<%- include("./partials/header") %>

<h1>Compose</h1>

<form action="/compose" method="post">
    <label for="postTitle">Title</label>
    <h1 id="postTitle"><textarea id="postTitle" name="postTitle" rows="2" cols="33" required></textarea></h1><br>
    <label for="post">Post</label><br>
    <textarea class="post" name="post" rows="4" cols="63" required></textarea><br><br>
    <button type="submit" value="Publish" class="btn btn-primary">Publish</button>
</form>

<%- include("./partials/footer.ejs") %>
