
h1 {
    padding-bottom: 15px;
}

p {
    padding-bottom: 20px;
}

h1 a{
    color: black;
}

p a{
    display: inline;
}

.post{
    font-size: 18px;
}

.postTitle {
    padding-top: 0;
}

button {
    display: inline;
}

html{
    position: relative;
    min-height: 100%;
}

.container {
    min-height: 100%;
}

.absPost {
}

.dropdown {
    display: flex;
}

.dropdown-toggle {
    position: relative; 
    bottom: 2px;
    background: transparent;
    height: 20px;
    width: 20px;
    background-image: url("/images/expand.svg");
}

#deleteBtn {
    /* color: #e9453b; */
    color: #e33026;
}

/*overriding boostrap's default property*/
/* .show { */
/*     display: inline!important; */
/* } */

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100%;
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

/* .push { */
    /* height: 100%; */
/* } */

.composeBtn {
    position: fixed;
    /* right: 9%; */
    right: 11%;
    bottom: 12%;
    font-weight: 500;
    height: 48px;
    width: 130px;
    border-radius: 24px;
    background-color: #fff;
    border-width: 0.11px;
    border-style: outset;
    text-decoration: none;
    text-transform: none;
    letter-spacing: .25px;
    color: black;
}

.composeBtn:hover {
    background-color: #fafafb; 
}

#composeLink:hover {
    text-decoration: none;
    text-decoration-line: none;
}

.composeImg{
    position: relative; 
    right: 5px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


.footer-padding {
    padding-top: 50px;
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
}

.footer p {
    text-align: center;
    padding-top: 25px;
    font-size: 12px;
    color: #fff;
}
